<div class="user-details">
    <h2>User Details</h2>
    <div class="detail-item">
      <span class="label">First Name:</span>
      <span class="value">{{ user.firstname }}</span>
    </div>
    <div class="detail-item">
      <span class="label">Last Name:</span>
      <span class="value">{{ user.lastname }}</span>
    </div>
    <div class="detail-item">
      <span class="label">Email:</span>
      <span class="value">{{ user.email }}</span>
    </div>
    <div class="detail-item">
      <span class="label">Address:</span>
      <span class="value">{{ user.address }}</span>
    </div>
    <div class="detail-item">
      <span class="label">Status:</span>
      <span class="value">{{ user.status }}</span>
    </div>
  </div>
  